[Unit]
Description=GPIO Button Monitor
After=network.target
Wants=network.target

#paths are censored, update as necessary

[Service]
Type=simple
User=????????????
Group=gpio
WorkingDirectory=??????????????
ExecStart=????????? ???????????
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

Environment=HOME=/home/barvaz
Environment=USER=barvaz

[Install]
WantedBy=multi-user.target